@import "test";


body {
	font-size: 15px;
	font-weight: 400px;
	background-color: #2a2a2a;
	color: #fff;
	line-height: 2em;
}

h1 {
	text-align: center;
	margin-top: 200px;
}

p {
	margin-left: 100px;
	text-align: justify;
	line-height: 2em;
	font-size: 2em;
	width: 80%;
}
